@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to bottom, #f7f7fade, #f0f0f0);
}
.portfolio-page {
  width: 75%;
  min-width: 360px;
  margin: 4em auto;
  font-family: "Nunito", sans-serif;

  box-shadow: 0 10px 20px #e7e7e9;
}
div.myWork-intro {
  background-color: #efeff3dc;
  padding: 20px;
  text-align: center;
}
.assignment-1,
.assignment-2,
.assignment-3,
.assignment-4,
.assignment-5 {
  background-color: #ffffff;
}
.assignment-1,
.assignment-2,
.assignment-3,
.assignment-4,
.assignment-5 {
  justify-content: flex-end;
}
