@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to bottom, #f7f7fade, #f0f0f0);
}
.website {
  width: 75%;
  min-width: 360px;
  margin: 4em auto;
  font-family: "Nunito", sans-serif;

  box-shadow: 0 10px 20px #e7e7e9;
}
header {
  background-color: #efeff3dc;
  padding: 2em 5em 0;
}
ul{
  list-style: none;
   margin-bottom: 0;
  padding-left: 0;
}
li{
  display: inline-block;
  
}
div.nav-bar {
  text-align: end;
 
}
#about-section,
#portfolio,
#contacts-section {
  text-decoration: none;
  color: #000000;
  font-size: 0.7em;
  padding: 1em 0.5em 0;
  transition: all 200ms ease-in-out;
}
#about-section:hover,
#portfolio:hover,
#contacts-section:hover {
  font-size: 0.75em;
}
section.header {
  background-color: #efeff3dc;
  padding: 2em 5em 3em;
  text-align: center;
}

#intro {
  line-height: 2em;
  padding-top: 2em;
}
#name {
  font-size: 1.4em;
  padding-bottom: 0.4em;
}
#introduction {
  font-size: 0.8em;
}
div.about-img {
  display: flex;
   flex-wrap: wrap;
  background-color: #ffffff;
  padding: 3em 1em;
}
.about,
.image {

  flex: 1;
  padding: 0 2em;
  margin: 0.5em;
}
img {
  width: 300px;
}
#about-me {
  line-height: 1.8em;
}
#cv-button {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 6px;
  color: white;
  background-color: rgb(180, 180, 180);
  margin: 0.8em 0.5em;
  font-size: 0.8em;
  padding: 0.6em 0.7em;
  transition: all 200ms ease-in-out;
}
#cv-button:hover {
  color: rgb(180, 180, 180);
  background-color: white;
}

#footer {
  padding: 20px 10px 60px;
  text-align: center;
}
div.contacts {
  display: flex;
  flex-wrap: wrap;
}
.email-address,
.phone-number,
.social-media {
  flex-grow: 1;
  padding: 0 2em;
  margin: 1em;
}
.social-media {
  padding: 0 5em;
}
a.email,
p.phone {
  font-size: 0.8em;
}
.email:hover{
  color: blueviolet;
}
#linked-in,
#instagram {
  text-decoration: none;
  padding: 0 10px;
}
#linked-in:hover,
#instagram:hover {
  color: blueviolet;
}

