@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --button-color: #b7b7b7;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to bottom, #f7f7fade, #f0f0f0);
}
div.website,
div.portfolio-page {
  width: 75%;
  min-width: 360px;
  margin: 4em auto;
  font-family: "Nunito", sans-serif;
  border-radius: 16px;
  box-shadow: 0 10px 20px #aeaeaf9c;
}
header {
  background-color: #efeff3dc;
  padding: 2em 5em 0;
}
ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  display: inline-block;
}
div.nav-bar {
  text-align: end;
}
a.home-page,
a.about-section,
a.portfolio-page,
a.contacts-section {
  text-decoration: none;
  color: #000000;
  font-size: 0.6em;
  padding: 1em 0.5em 0;
  transition: all 200ms ease-in-out;
}
a.home-page:hover,
a.about-section:hover,
a.portfolio-page:hover,
a.contacts-section:hover {
  font-size: 0.55em;
  text-decoration: solid;
}
li a.active {
  color: brown;
  font-size: 0.6em;
}
section.header {
  background-color: #efeff3dc;
  padding: 2em 5em 3em;
  text-align: center;
}
#intro {
  line-height: 2em;
  padding-top: 2em;
}
#name {
  font-size: 1.4em;
  padding-bottom: 0.4em;
}
p.introduction {
  font-size: 0.8em;
}
div.about-img {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 3em 1em;
}
.about-paragraph,
.image {
  flex: 1;
  padding: 0 2em;
  margin: 0.5em;
}
img {
  width: 300px;
}
p.about {
  font-size: 14px;
  line-height: 1.8em;
}
#cv-button {
  border: 1px solid var(--button-color);
  border-radius: 6px;
  color: white;
  background-color: var(--button-color);
  margin: 0.8em 0.5em;
  font-size: 0.8em;
  padding: 0.6em 0.7em;
  transition: all 200ms ease-in-out;
}
#cv-button:hover {
  color: var(--button-color);
  background-color: white;
}
#footer {
  padding: 20px 10px 60px;
  text-align: center;
}
div.contacts {
  display: flex;
  flex-wrap: wrap;
}
.email-address,
.phone-number,
.social-media {
  flex-grow: 1;
  padding: 0 2em;
  margin: 1em;
}
.social-media {
  padding: 0 5em;
}
a.email,
p.phone {
  font-size: 0.8em;
}
.email:hover {
  color: blueviolet;
}
#linked-in,
#instagram {
  text-decoration: none;
  padding: 0 10px;
}
#linked-in:hover,
#instagram:hover {
  color: blueviolet;
}
a.active {
  font-size: 0.85em;
  color: brown;
}
div.my-work-intro {
  background-color: #efeff3dc;
  padding: 1em;
  text-align: center;
}
#my-work-heading {
  padding-top: 2em;
}
a.essay,
a.video,
a.power-point,
a.abstract {
  border: 1px solid var(--button-color);
  color: white;
  background-color: var(--button-color);
  font-size: 0.8em;
  padding: 5px 10px 3px 10px;
  transition: all 200ms ease-in-out;
}
a.essay:hover,
a.video:hover,
a.power-point:hover,
a.abstract:hover {
  color: var(--button-color);
  background-color: white;
  font-size: 0.7em;
  padding: 5px 13px 3px 13px;
}
